/* Règles globales */
* {
    box-sizing: border-box;   
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 0;
}

/* Conteneurs principaux et images responsives par défaut */
.container{
    max-width: 1200px;
    margin: 140px auto;
}

.container .panier{
    min-height: 80vh;
}



/* textes */

h1{
    text-align: center;
}

h2{
    margin: 0;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    background-color: #F5E8F1;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
    padding: 0.8rem;
    line-height: 0; 
}


.header__cart{
    position: relative;
}

.header__cart img{
    width: 54px;;
}

.header__cart span{
    padding: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-15%) translateY(-78%);
    font-weight: 800;

}

.header__cart span:hover{
    cursor: pointer;
}

/* Footer */

footer{
    height: 40px;
    padding: 0.5em;
    background-color: #F5E8F1;   
}

footer p{
    text-align: center;
    margin: 0;
}

/* positions */

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* liste des produits sur la page d'Accueil et page produit */

#root_list {
    display: flex;
    flex-wrap: wrap ;
    flex-direction : row;
    
}
#root-produit{
    padding: 2rem 3rem;
    min-height: 100vh;
}

#root-panier{
    padding: 2rem 3rem;
    
}

.card{
    margin: 1rem;
    flex-basis: calc(33.3333% - 2rem);
    box-shadow: 2px 6px 15px rgba(0, 0, 0, 0.1);
}

.article{
    display: flex;
    flex-direction : row;
    box-shadow: 2px 6px 15px rgba(0, 0, 0, 0.1);
}

.article__img, .article__content{
    flex-basis: 50%;
    
}

.article__content{
    padding: 2rem;
}

.card__img {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.article__img {
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.card__content{
    padding: 1rem;
}

.card__content h2{
    text-align: center;
}

.article__content h3{
    color: #8ab1e1;
}

.card__details{
    padding: 10px 0;
    margin: 0 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid #efefef;
}

.voir-produit, .prix-produit, .voir-panier{
    flex: 1;
    
}

button{
    border : none;
    font-family: inherit;
    cursor: pointer;
    
}

button.button{
    margin: 0;
}

 a {
     text-decoration: none;
 }

.button {
    color: #fff;
    background-color: #8ab1e1;
    border-radius: 2rem;
    padding: 14px 14px;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    width: 100%;
    border: 2px solid #8ab1e1;
    white-space: nowrap;
     
}





.btn-anim{
    color: #fff;
    background-color: #8fd8c6;
    padding: 14px 12px;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    transform: translateY(0);
    transition: transform 200ms ease-in-out;
    line-height: normal;
    border: 2px solid #8fd8c6;
    position: relative;
    

}

.bloc-validation{
    height: 52px;
    overflow: hidden;
    border-radius: 2rem;
    
}

.btn-anim a:hover, .btn-anim span:hover {
    color: #38454c;
    text-decoration:none;
    
    
}

.btn-anim a {
    color: #FFF;
    text-decoration: underline;
 
}



.btn-anim span {
    padding: 0 1.2rem 0 0;
    cursor: pointer;
    margin: 0 0 0 4px;
    position: absolute;
    top: 0;
    right: 0;
    
}

.voir-produit a:hover, .voir-panier button:hover {
    background-color: #FFF;
    color: #8ab1e1;
    
    
    
}

.prix-produit p{
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}
    
/* Sélection de la personnalisation du produit */
form{
    margin: 0 0 30px 0;
}
form input[type="radio"] {
    visibility: hidden;
    position: absolute;
}

form label {
    display: inline-block;
    border: 2px solid rgb(119, 115, 115);
    color: rgb(119, 115, 115);
    border-radius: 2rem;
    padding: 10px 14px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 1rem 0 10px;
}

form input[type="radio"]:focus + label {
    border: 2px dotted #9E53FA;
    color: #8ab1e1;
}

form label:hover{
    color: #fff;
    background-color: rgb(119, 115, 115);

}


form input[type="radio"]:checked + label {
    color: #fff;
    background-color: rgb(119, 115, 115);
}

/* tableau*/

table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
}


table th, table td{
    border: 1px solid #ddd;
    padding: 10px 10px;
    text-align: center;
    line-height: 0;
    white-space: nowrap;
}

table th{
    height: 50px;
    text-transform: uppercase;
}

table td {
    height: 100px;
}

.hidden{
    visibility: hidden;
}

.panierPrix {
    font-weight: 700;
    font-size: 1.4rem;
    color: #8ab1e1;
}



/* formulaire de contact */

.commande h2{
    text-align: center;
}

.commande{
    padding: 2rem 3rem;
    display: none;
}

.commande form{
   padding: 2rem 4rem;
}

.commande form label{

    border: none;
    padding: 10px 0;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
}

.commande form label:hover{
    color: rgb(119, 115, 115);
    background-color: #FFF;

}

.commande form input{
    border: 1px solid #8ab1e1;
    border-radius: 0.8rem;
    height: 46px;
    padding: 0 6px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
    color: rgb(119, 115, 115);
    width: 100%;

}

.commande form input:focus{
    border: 3px dotted #8ab1e1;
    border-radius: 0.8rem;
    outline: none;
}

.identite, .adresse, .contact, .envoyer {
    display: flex;
    justify-content: center;
    
}

.envoyer{
    margin: 1.5rem 0;
}


.identite div, .adresse div, .contact div{
    margin: 0 0.5rem 0 1rem;
    flex: 1;
    
    
}

.button_form {
    border-radius: 1rem;
    width: auto;
    border: 2px solid #8ab1e1;
    color: #fff;
    background-color: #8ab1e1;
    font-size: 1.2rem;
    padding: 14px 18px;
}

.button_form:focus{
    border: 3px dotted #3d4e64;
    outline: none;
}

.button_form:hover{
    color: #8ab1e1; 
    background-color: #FFF;
}

.commande form input:required:valid{
    border: 2px solid #8fd8c6;
}

.commande form input:focus:invalid{
    border: 2px solid #e37faf;
}


/*Page de confirmation*/
.messageConfirmation{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 2rem 0;
}

.messageConfirmation span {
    color: #8ab1e1;
    font-weight: 700;
}


/*RESPONSIVE*/
@media only screen and (max-width: 768px) {
    body {
      font-size: 14px;
    }

    #root_list, .article {
        flex-direction : column;
    }

    #root-panier{
        overflow-x: auto;
    }

    form label{
        margin: 0 10px 10px 0;
    }

    .prix-produit p{
        font-size: 1.2rem;
    }

    .button, .btn-anim{
        padding: 12px 12px;
    }

    .btn-anim{
        white-space: nowrap;
    }

    .bloc-validation{
        height: 48px;
    }

    .identite, .adresse, .contact {
        flex-direction: column;
        
    }
  }

  @media only screen and (max-width: 576px) {
    .header__cart, .header__logo{
        padding: 0.5rem;
    }

    .header__cart img{
        width: 52px;
    }

     .article__img{
         min-height: 200px;
     }

     .btn-anim span {
        display:none;
     }

     #root-produit {
        padding: 2rem 1rem;
        
    }

    .article__content {
        padding: 1rem;
    }

    .commande{
        padding: 2rem 1rem;
        
    }

    .commande form{
        padding: 0;
     }
  }





















